:root{
    --blue:#609FD1;
    --light-purple:#382c6b;    
    --bg-color1:#0B0205;
    --bg-color2:white;
    --gray:#333;
}

*{
    margin:0; padding:0;
    box-sizing: border-box;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
    font-family: 'Source Serif Pro', serif;
}


/*navbar*/
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}


                                   /*start section*/
section{
    padding:2rem 9%;
   margin-top: 55px;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color:var(--gray);
    padding:1rem;
    margin:2rem 0;
   
}


.btn{
    display: inline-block;
    margin-top: 4rem;
    border-radius: 5rem;
    background:var(--light-purple);
    color:var(--bg-color2);
    padding:.9rem 3.5rem;
    cursor: pointer;
    font-size: 2rem;
}

.btn:hover{
    background:var(--gray);
}

header{
    position: fixed;
    top:0; left:0; right:0;
    background:var(--bg-color2);
    padding:1rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 3rem 3rem rgba(0,0,0,.1);
}

header .logo{
    font-size: 3rem;
    color:var(--gray);
    font-weight: bolder;
}

header .navbar a{
    font-size: 2rem;
    padding:0 1.5rem;
    color:var(--light-purple);
}

header .navbar a:hover{
    color:var(--bg-color1);
}

header .icons a{
    font-size: 2.5rem;
    color:var(--light-purple);
    margin-left: 1.5rem;
}

header .icons a:hover{
    color:var(--gray);
}

header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 3rem;
    color:#333;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    cursor: pointer;
    border:.1rem solid rgba(0,0,0,.3);
    display: none;
}

                       /*contact section*/

.contact .icons-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    padding-bottom: 2rem;
}

.contact .icons-container .icons{
    flex:1 1 25rem;
    background: #fff;
    padding:2rem;
    border:.1rem solid rgba(0,0,0,.2);
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    text-align: center;
}

.contact .icons-container .icons img{
    height:6rem;
}

.contact .icons-container .icons h3{
    font-size: 2.5rem;
    color:#333;
    padding:1rem 0;
}

.contact .icons-container .icons p{
    font-size: 1.5rem;
    color:#666;
    padding:.2rem 0;
}









.heading span{
 
    color: var(--light-purple);
}
.contact .row{
    display: flex;
    flex-wrap: wrap-reverse;
    gap:1.5rem;
    align-items: center;
}

.contact .row form{
    flex:1 1 40rem;
    padding:2rem 2.5rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border:.1rem solid rgba(0,0,0,.1);
    background: #efefef;
    border-radius: .5rem;
}

/* .contact .row .image{
    flex:1 1 40rem;
}

.contact .row .image img{
    width: 100%;
} */
.contact .row .image-container{
    flex:1 1 40rem;
    position: relative;
}

.contact .row .image-container img{
    width:100%;
    border:1.5rem solid var(--light-purple);
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    height: 100%;
    object-fit: cover;
}

.contact .row form .box{
    padding:1rem;
    font-size: 1.7rem;
    color:#333;
    text-transform: none;
    border:.1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    margin:.7rem 0;
    width: 100%;
}

.contact .row form .box:focus{
    border-color: var(--pink);
}

.contact .row form textarea{
    height: 15rem;
    resize: none;
}


                              /*footer section*/
.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.footer .box-container .box{
    flex:1 1 25rem;
}

.footer .box-container .box h3{
    color:#333;
    font-size: 2.5rem;
    padding:1rem 0;
}

.footer .box-container .box a{
    display: block;
    color:#666;
    font-size: 1.5rem;
    padding:1rem 0;
}

.footer .box-container .box a:hover{
    color:var(--pink);
    text-decoration: underline;
}

.footer .box-container .box  img{
    margin-top: 1rem;
}

.footer .credit{
    text-align: center;
    padding:1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color:#333;
    border-top: .1rem solid rgba(0,0,0,.1);
    padding-bottom: 9rem;
}

.footer .credit span{
    color:var(--pink);
}
.fa-solid{
    color: var(--bg-color1)
}
.fa-brands{
    font-size: 25px;
    padding-left:20px;
}















/* media queries  */
@media (max-width:991px){
    
    html{
        font-size: 55%;
    }

    header{
        padding:2rem;
    }

    section{
        padding:2rem;
    }

    .home{
        background-position: left;
    }

}

@media (max-width:768px){

    header .fa-bars{
        display: block;
    }

    header .navbar{
        position:absolute;
        top:100%; left:0; right:0;
        background:#eee;
        border-top: .1rem solid rgba(0,0,0,.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header #toggler:checked ~ .navbar{
        clip-path:polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a{
        margin:1.5rem;
        padding:1.5rem;
        background:#fff;
        border:.1rem solid rgba(0,0,0,.1);
        display: block;
    }

    .home .content h3{
        font-size: 5rem;
    }

    .home .content span{
        font-size: 2.5rem;
    }

    .icons-container .icons h3{
        font-size: 2rem;
    }
    
    .icons-container .icons span{
        font-size: 1.7rem;
    }
    
}

@media (max-width:450px){
    
    html{
        font-size: 50%;
    }

    .heading{
        font-size: 3rem;
    }

}