:root{
    --blue:#609FD1;
    --light-purple:#382c6b;    
    --bg-color1:#0B0205;
    --bg-color2:white;
    --gray:#333;
}

*{
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
    /* font-family: 'Asap Condensed', sans-serif; */
    /* font-family: 'Varela Round', sans-serif; */
     /* font-family: 'Signika Negative', sans-serif; */
    font-family: 'Source Serif Pro', serif;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}


                                   /*start section*/
                          
                                   

                                   
section{
    padding:2rem 9%;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color:var(--gray);
    padding:1rem;
    margin:2rem 0;
   
}


.btn{
    display: inline-block;
    margin-top: 4rem;
    border-radius: 5rem;
    background:var(--light-purple);
    color:var(--bg-color2);
    padding:.9rem 3.5rem;
    cursor: pointer;
    font-size: 2rem;
}

.btn:hover{
    background:var(--gray);
}

header{
    position: fixed;
    top:0; left:0; right:0;
    background:var(--bg-color2);
    padding:1rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 3rem 3rem rgba(0,0,0,.1);
}

header .logo{
    font-size: 3rem;
    color:var(--gray);
    font-weight: bolder;
}

header .navbar a{
    font-size: 2rem;
    padding:0 1.5rem;
    color:var(--light-purple);
}

header .navbar a:hover{
    color:var(--bg-color1);
}

header .icons a{
    font-size: 2.5rem;
    color:var(--light-purple);
    margin-left: 1.5rem;
}

header .icons a:hover{
    color:var(--gray);
}

header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 3rem;
    color:#333;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    cursor: pointer;
    border:.1rem solid rgba(0,0,0,.3);
    display: none;
}

.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background:url(./img/1.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 50rem;
}

.home .content h6{
    font-size: 4.5rem;
    color:#333;
}

.home .content span{
    font-size: 4.5rem;
    color:var(--bg-color2);
    padding:1rem 0;
    line-height: 1.5;
}

.home .content p{
    font-size: 1.5rem;
    color:var(--gray);
    padding:1rem 0;
    line-height: 1.5;
}


/***********************************************************************/

.animation{
    margin-top: 40px;
}
.heading span{
    color: var(--light-purple);
}

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: var(--bg-color2);
}

body {
  color: var(--bg-color1);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
}

.main{
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  color: var(--bg-color2);
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 10px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: var(--bg-color2);
  border-radius: 10px;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, var(--light-purple) 40%, var(--gray) 100%);
}

.card_title {
  color: var(--bg-color2);
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: var(--bg-color2);
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}
.made_by{
  font-weight: 400;
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
}










                               /*footer section*/
.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.footer .box-container .box{
    flex:1 1 25rem;
}

.footer .box-container .box h3{
    color:#333;
    font-size: 2.5rem;
    padding:1rem 0;
}

.footer .box-container .box a{
    display: block;
    color:#666;
    font-size: 1.5rem;
    padding:1rem 0;
}

.footer .box-container .box a:hover{
    color:var(--pink);
    text-decoration: underline;
}

.footer .box-container .box  img{
    margin-top: 1rem;
}

.footer .credit{
    text-align: center;
    padding:1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color:#333;
    border-top: .1rem solid rgba(0,0,0,.1);
    padding-bottom: 9rem;
}

.footer .credit span{
    color:var(--pink);
}
.fa-solid{
    color: var(--bg-color1)
}
.fa-brands{
    font-size: 25px;
    padding-left:20px;
}

























/* media queries */
@media (max-width:991px){
    
    html{
        font-size: 55%;
    }

    header{
        padding:2rem;
    }

    section{
        padding:2rem;
    }

    .home{
        background-position: left;
    }

}

@media (max-width:768px){

    header .fa-bars{
        display: block;
    }

    header .navbar{
        position:absolute;
        top:100%; left:0; right:0;
        background:#eee;
        border-top: .1rem solid rgba(0,0,0,.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header #toggler:checked ~ .navbar{
        clip-path:polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a{
        margin:1.5rem;
        padding:1.5rem;
        background:#fff;
        border:.1rem solid rgba(0,0,0,.1);
        display: block;
    }

    .home .content h3{
        font-size: 5rem;
    }

    .home .content span{
        font-size: 2.5rem;
    }

    .icons-container .icons h3{
        font-size: 2rem;
    }
    
    .icons-container .icons span{
        font-size: 1.7rem;
    }
    
}

@media (max-width:450px){
    
    html{
        font-size: 50%;
    }

    .heading{
        font-size: 3rem;
    }

}