:root{
    --blue:#609FD1;
    --light-purple:#382c6b;    
    --bg-color1:#0B0205;
    --bg-color2:white;
    --gray:#333;
}

*{
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
    /* font-family: 'Asap Condensed', sans-serif; */
    /* font-family: 'Varela Round', sans-serif; */
     /* font-family: 'Signika Negative', sans-serif; */
    font-family: 'Source Serif Pro', serif;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}


                                   /*start section*/
                          
                                   

                                   
section{
    padding:2rem 9%;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color:var(--gray);
    padding:1rem;
    margin:2rem 0;
   
}


.btn{
    display: inline-block;
    margin-top: 4rem;
    border-radius: 5rem;
    background:var(--light-purple);
    color:var(--bg-color2);
    padding:.9rem 3.5rem;
    cursor: pointer;
    font-size: 2rem;
}

.btn:hover{
    background:var(--gray);
}

header{
    position: fixed;
    top:0; left:0; right:0;
    background:var(--bg-color2);
    padding:1rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 3rem 3rem rgba(0,0,0,.1);
}

header .logo{
    font-size: 3rem;
    color:var(--gray);
    font-weight: bolder;
}

header .navbar a{
    font-size: 2rem;
    padding:0 1.5rem;
    color:var(--light-purple);
}

header .navbar a:hover{
    color:var(--bg-color1);
}

header .icons a{
    font-size: 2.5rem;
    color:var(--light-purple);
    margin-left: 1.5rem;
}

header .icons a:hover{
    color:var(--gray);
}

header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 3rem;
    color:#333;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    cursor: pointer;
    border:.1rem solid rgba(0,0,0,.3);
    display: none;
}

.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background:url(./img/1.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 50rem;
}

.home .content h6{
    font-size: 4.5rem;
    color:#333;
}

.home .content span{
    font-size: 4.5rem;
    color:var(--bg-color2);
    padding:1rem 0;
    line-height: 1.5;
}

.home .content p{
    font-size: 1.5rem;
    color:var(--gray);
    padding:1rem 0;
    line-height: 1.5;
}


/***********************************************************************/
